div[id^="div-gpt-ad-"] {
    text-align: center;
    margin: 0 auto;
}
div[id^="div-gpt-ad-"].mobile-only{
    padding: 5px 0;
}

.adv-fixed-bot {
    padding:5px; 
    width: 100% !important;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;    
    background-color: #EBEBEB ;
}

.article.article-gallery.full #div-gpt-ad-1513784334396-3 {
    padding-top:70px;
}

body>header, .hamburger-menu {
    z-index: 999;
}

.advertisement {
    background:none;
}

div.advertisement.wide-ad-wrapper {
    margin:0 auto!important;  
}
  
.wide-ad-wrapper > div._fb_dbx {
    width: 100%!important;
    min-width: 100%!important;
    max-width: 100%!important;
}

.wide-ad-wrapper > div._fb_dbx > div {
    position: inherit!important;
    margin:0 auto;
}

ins.adsbygoogle {
    width:100% !important;
    text-align: center;
}

body.libero-tv main .main-wrapper .libero-tv-block article .video-frame .meride-video-container{
        z-index:0;
}

body.article>header.sticky .mid-row .right .article-title h2 {
    padding-bottom: 1px;
}

body.article>header.sticky .mid-row .right .more-on-topic {
    padding: 8px 13px;
}

.article-info-injection .addthis_toolbox a {
    margin: 0;
}

main {
    position: relative;
}
.qc-cmp-button.qc-cmp-secondary-button{
    display:none;
}

body.article.video main aside .meride-video-container.full-width.zindex-1{
    width: 311px!important;
}
.main-wrapper section.l-2-2 article.no-photo {
    display: block; 
}
.advertisement.desktop-only[style*="display: none;"]{
   /* display: none !important; */
}
body.article.video.type-2 .situation-in-motion.glide{
    display:none;
}
body.article.video main .similar-videos .desktop-only {
    display: none !important;
}
/*
body.article.article-gallery.full img.lazy:not(.loaded) {
    width:100%;
    height: 578px;
}
*/

.qc-cmp-persistent-link {
    display:none !important;
}
@media (max-width: 767px){
   /* body.article.article-gallery.full img.lazy:not(.loaded) {
        width:auto;
        height: calc(100vw / 1.77);
    }
    */
    body.homepage article.box.m:not(.wide) header h2 {
        padding: 0 10px;
    }
    body.homepage .news-wrapper.type-4>section article.box.m{
        margin-bottom: 20px;
    }
    body.homepage .news-wrapper.type-4>section:first-child article.box.m:last-child {
        display: block;
        padding-top: 10px;
    }
    body .news-wrapper.type-4 section:first-child :nth-child(5) {
        width: 100% !important;
        margin-left: 0;
    }
    body.article.video main aside .meride-video-container.full-width.zindex-1{
        width: 100vw !important;
    }
    html body.article.video .video-player.full-width video{
        width: 100vw !important;
        height: calc(100vw / 1.77) !important;
    }

    article.box.xl {
     padding-bottom: 0;
    }
    header .bottom-row .breaking-band{
        position: relative;
        background-color: #9D0000;
        /* display: none; */
        font-size: 1.4rem;
        color: white;
        font-weight: 800;
        padding:8px 15px;
    }

    header .bottom-row{
        width: 100%;
        padding: 0; 
        margin:0;
        box-sizing: border-box;
        background-color: #9D0000;
        /* display: none; */
        font-size: 1.4rem;
        color: white;
        font-weight: 800;
    }
    header .bottom-row{
           display: block !important;
    }
    header .bottom-row  nav{
        display: none;
    }
    header .bottom-row .digital-newsstand {
        display: none;
    }
    article.box.xl header {
        bottom: 20px;
    }
    .qc-cmp-persistent-link{
        z-index:1 !important;
    }
    body.article main .breadcrumbs {
        margin-top:10px;;
    }

    body .news-wrapper-box {
        margin-left: 0;
        margin-right: 0;
    }
    body.homepage .news-wrapper-box {
        padding: 32px 0 0 0px;
    }

    body:not(.homepage) header .bottom-row{
        display: none !important;
    }

    body.homepage article.box.xl figure a::after {
        background-image: linear-gradient(to bottom, transparent 0%, #000 100%);
    }    
    body.section .main-wrapper section.l-2-2 article {
        width: 100%; 
    }

    body.homepage article.box.m:not(.wide).no-photo header h2.orange a {
        padding: 0;
        font-size: 2.2rem;
    }
    .disqus-wrap{
        margin-left: 0 !important;
    }
}


@media only screen and (min-width: 1024px) {

    footer {
        z-index: 999;
    }

    body.homepage main .news-carousel-container section:last-child {
        margin-top: unset;
    }
    body.article main .main-wrapper {
        width: calc(100% - 503px);
    }
    body.article-gallery.full .under-article-left {
        padding-top: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;

      }
    
      body.full main aside {
          margin-left: 0;
      }

      html body.article.article-gallery.full {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    body.article>header.sticky .mid-row .right .article-title h2 {
        width: calc(100vw - 500px);
    }
    article.box.xl figure a::after{
        background-image: none;
    }
    body.article.video .video-description{
        width: calc(100% - 162px);
    }

  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .disqus-wrap{
        margin-left: 0 !important;
    }
    /*body.article.article-gallery.full img.lazy:not(.loaded) {
        width:100vw;
        height: calc(100vw / 1.77);
    }
    */
    html body.article.video .video-player.full-width video{
        width: 100vw;
        height: calc(100vw / 1.77) !important;
    }
    body.libero-tv .meride-video-container.full-width.zindex-1,
    body.libero-tv .meride-video-container.full-width.zindex-1 video
    {
        width: 100% !important;
        height: calc(100vw / 1.77) !important;
    }
    body.article.video.type-2 .meride-video-container.full-width.zindex-1,
    body.article.video .meride-video-container.full-width.zindex-1,
    body.article.video.type-2 main .video-player>.video-frame,
    html body.article.video.type-2 .video-player.full-width video{
        width: 100vw !important;
        height: calc(100vw / 1.77) !important;

    }


    html body.article.video aside .video-player.full-width video{
        width: 311px !important;
        height: 173px !important;
    }
    
    body main aside {
        width: 341px;
        margin: 0 auto;
    }
      aside .desktop-only {
          display: none !important;
      }
      body.section>header .bottom-row .digital-newsstand,
      body.libero-tv>header .bottom-row .digital-newsstand {
        right: 20px;
    }
    body.article main .main-wrapper section .read-also {
        width: 100%;
        margin-left: -0;
    }
    body>header .bottom-row nav ul {
        max-width: 524px;
        overflow: auto;
        white-space: nowrap;
    
    }
    body>header .bottom-row .icon-hamburger{
        position: absolute;
        top: 14px;
    }
    body>header .bottom-row nav {
       padding-left: 30px;
    }
 
    body.article main .main-wrapper section .article-extras {
         order: inherit; 
         width: auto;
         padding-left: 15px; 
         box-sizing: border-box; 
         position: relative; 
         top: unset; 
         left: unset; 
         display: block;
         flex-direction:unset; 
    }
    body.article main .main-wrapper {
        width: calc(100% - 341px);
    }

    body.article main .main-wrapper section .advertisement-wrapper {
         display: block !important;
    }
    body.article main .breadcrumbs, body.article main h1, body.article main .main-wrapper {
        margin-left: 0;
    }
    body main aside article.box {
        width: inherit;
        padding-top: 0;
    }
    body.article main .main-wrapper section .fb-comments {
        width: calc(100%) !important;
        margin-left: initial;
    }

    body.homepage .news-wrapper-box {
        flex: unset;
    }

    body.homepage main aside>* {
        /*width: auto !important;*/
       
    }
  
    body.homepage main aside .breaking-side{
        width: 100% !important;
    }
    body.homepage .news-wrapper-box {
        margin-left:0;
        margin-right:0;
    }

    body.homepage aside article.box.m:not(.wide) {
       
        box-sizing: border-box;
        width: 49%;
        display: inline-block;
    }
    body.homepage main {
        margin: 226px auto 0;
    }
    body.article {
        margin-top: 142px;
    }
    body.article.video main .article-extras{
        top: 30px;
    }
    body.article.video main .video-description h1 {
        margin-left: auto;
    }

    body.article.video main .meride-video-container.full-width.zindex-1 video{
        width: 100vw !important;
    }


    body.article.article-gallery.full main aside {
        margin-left: 0; 
    }
    body.article.article-gallery.full .gallery .controls {
        top: -70px;
    } 

    body.section main .news-list-wrapper .box.m.wide header {
        width: 100%;
    }

    body main .video-carousel-container section:last-child {
        width: 100%; 
        margin-top: 0; 
        flex: none;
    }
    body main .video-carousel-container .advertisement {
        width: calc(100% + 0px) !important;
        margin-left: 0;
        flex: unset;
        margin-bottom: 20px;
    }
    body.section main .news-list-wrapper .news-list-container {
        width: 100%;
        padding-right: 50px; 
        padding-left: 0 !important;
    }

    .advertisement.mobile-only{
        display:none !important;
    }

    body.homepage .situation-in-motion.glide.glide--ltr.glide--carousel.glide--swipeable{
        margin-bottom: 20px;
    }
    body.article.video main .similar-videos {
        display: block; 
        max-width: 100vw;
    }

  
    body.article.video main .similar-videos ul {
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body.article.video main .similar-videos ul li {
        width: 55vw;
        flex: 0 0 auto;
    }
    body.article.video main .similar-videos ul li:not(:last-child) {
        margin-right: 15px;
    }
    body.article.video .video-description{
        width: calc(100% - 162px);
    }
}
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
.disqus-wrap{
    margin-top: 20px;
    margin-left: -146px;
}
.news-list-container-adv{
    width: 311px;
}
.video-new-h a{
    color: white;
}
.situation-in-motion.new-liberotv-box{
    margin-bottom: 15px;
    margin-top: 15px;
}
/* @media (min-width:1025px){
    .video-carousel-section-custom{
        background:black;
        display:block;
        height: 620px;
    }
} */
.play{
    background-image:url("../fonts/icon-blue-play.svg");
    margin: 0 auto;
    position: absolute;
    top: 33%;
    left: 15%;
}
.play-btn::before{
    content: '';
    width: 54px;
    height: 54px;
    position: absolute;
    top: 315px;
    background-image: url(../fonts/icon-blue-play.svg);
    background-repeat: no-repeat;
    background-size: cover;

}
.menu-right-digital{
    float: right;
    padding: 15px;
    margin: 0;
    padding: 0;
    width: 280px;
}
.menu-right-digital li{
    float: right;
    /* display: block; */
    padding: 8px 8px 8px 0px;
}
a.libero-tv-ico{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
}
.digital-newsstand{
    position: unset !important;
}
.libero-tv-ico::before{
    content: '';
    width: 24px;
    height: 23px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-image: url(../fonts/icon-tv.svg);
    background-repeat: no-repeat;
}
@media (min-width:801px) {
    .gallery-container-header{
        display: none;
    }
}
.gallery-container-header{
    /* padding-left: 20px; */
    width: 150px;
    display: block;
    height: 0px;
    left: auto;
    position: relative;
    /* margin: -10px 0 0 20px; */
    width: 250px;
    right: 250px;
    margin-top: 7px;
}
.gallery-container-header .situation-in-motion{
    background-color: #104877;
    position: absolute;
    border: 1px solid #ffff;
}
.gallery-container-header .img-custom-brand{
    width: 150px !important;
    height: 90px;
    padding: 2px;
    padding-bottom: 0px;
}
.gallery-container-header .brand {
    right: 0;
    position: absolute;
    width: 40%;
    display: block;
    margin-top: 13%;
    z-index: 0;
}
.gallery-container-header .brand h2{
    position: relative;
    float: right;
    margin-right: 6px;
    margin-top: -4px;
}
@media only screen and (min-width: 768px){
    .homepage .secondary-nav{
        margin-top: 38px !important;
    }
    .homepage .scroll-down.sticky .secondary-nav{
        margin-top: 18px !important;
    }
    /* .menu-right-digital{
        display: none;
    } */
}
@media (min-width: 1025px) and (max-width: 1280px) {
    body>header .mid-row .right .secondary-nav li{
        margin-top: unset !important;
    }
    .libero-tv-ico{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .menu-right-digital {
      display: none;
    }
}
.libero-tv-brand{
    right: -130px;
    top: -11px;
    position: absolute;
    display: block;
}
.libero-tv-brand-img{
    width: 90px;
}
.libero-video-brand-img{
    width: 150px;
}
body.section .libero-tv-brand-img{
    width: 180px;
}
.video-new-carousel-header:after{
    margin-left: 1px;
    content: '';
    width: 48px;
    height: 30px;
    position: absolute;
    background-image: url(../fonts/icon-blue-play.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    bottom: 2px;
}
/* .gallery-container-header .video-new-carousel-header.video{
    bottom: 2px;
    left: 0;
    background-image: url(../fonts/icon-blue-play.svg);
    background-repeat: no-repeat;
    background-size: cover;
} */
@media only screen and (max-width: 768px) {
    .libero-tv-brand{
        right: unset;
        position: relative;
        display: block;
        width: 100%;
        text-align: right;
        margin-left: -20px;
        top: -25px;
    }
}
.content-wrapper.video-carousel-container{
    padding-bottom: 15px;
}
.content-wrapper.video-carousel-container section.video-carousel{
    width: 100% !important;
    height: auto !important;
}
.container-header-top{
    position: relative;
    width: 100%;
    background: black;
    height: 50px;
}
.container-header-top h3{
    padding: 10px;
}
.container-header-top h3 a img{
    width: 130px;
}
@media only screen and (max-width: 768px) and (min-width: 1025px){
    .content-wrapper.video-carousel-container section.video-carousel{
        width: auto;
        padding-left: 15px;
    }
    .content-wrapper.video-carousel-container{
        padding-bottom: 15px;
    }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    .content-wrapper.video-carousel-container section.video-carousel{
        /* border: 2px solid blue; */
        padding-left: 15px;
    }
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    .content-wrapper.video-carousel-container section.video-carousel{
        /* border: 2px solid orange; */
    }
  }
.pos-left-adv{
    z-index: auto;
    left: calc((100vw - 1024px) / 2 + 1030px);
    top: 200px;
    position: fixed !important;
    visibility: visible;
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    float: left;
    overflow: visible;
    transition-duration: 0s;
    opacity: 1;
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    height: 620px;
    min-height: 620px;
    max-height: 620px;
}
.pos-right-adv{
    z-index: auto;
    right: calc((100vw - 1024px) / 2 + 1030px);
    top: 200px;
    position: fixed !important;
    visibility: visible;
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    float: left;
    overflow: visible;
    transition-duration: 0s;
    opacity: 1;
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    height: 620px;
    min-height: 620px;
    max-height: 620px;
}
.fxp{
    padding: 0px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.video-player.full-width iframe {
    height: 580px;
    width: 100%;
}
@media only screen and (min-width: 768px){
    body.article.video.video-embed main .video-player {
        display: block;
        flex: none;
    }
}
@media only screen and (max-width: 768px){
    .video-player.full-width iframe {
        height: 230px;
    }
}

/* For TvMania */

body .tvmania-container {
    width: 100%;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  body .tvmania-container article:not(.advertisement) {
    background-color: #002848;
  }
  
  body .tvmania-container article:not(.advertisement) figure img {
    width: 100%;
  }
  
  body .tvmania-container article:not(.advertisement) header {
    padding: 10px 15px 30px;
  }
  
  body .tvmania-container article:not(.advertisement) header .overtitle {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    color: #E9E7E7;
  }
  
  body .tvmania-container article:not(.advertisement) header .overtitle::before {
    content: '';
    width: 14px;
    height: 8px;
    margin-right: 6px;
    display: inline-block;
    background-color: #E9E7E7;
  }
  
  body .tvmania-container article:not(.advertisement) header .share-button {
    width: 18px;
    height: 12px;
    background-image: url("../fonts/icon-white-share.svg");
  }
  
  body .tvmania-container article:not(.advertisement) header .share-button::after {
    display: none;
  }
  
  body .tvmania-container article:not(.advertisement) header h2 {
    padding-top: 15px;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.08;
    letter-spacing: -.33px;
  }
  
  body .tvmania-container article:not(.advertisement) header h2 a {
    color: #FFF;
  }
  
  body .tvmania-container article:not(.advertisement) header h2 span {
    color: #95D8C8;
  }
  
  body .tvmania-container .top-tvmania-wrapper {
    background-color: #002848;
  }
  
  body .tvmania-container .top-tvmania-wrapper h3 {
    padding: 15px;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -.3px;
    color: #E9E7E7;
  }
  
  body .tvmania-container .mid-tvmania-wrapper {
    width: 100%;
  }
  
  body .tvmania-container .mid-tvmania-wrapper .advertisement {
    text-align: center;
  }
  
  body .tvmania-container .bottom-tvmania-wrapper {
    overflow-x: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  body .tvmania-container .bottom-tvmania-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  body .tvmania-container .bottom-tvmania-wrapper article {
    width: 70vw;
    padding-top: 4px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    position: relative;
  }
  
  body .tvmania-container .bottom-tvmania-wrapper article.video figure::after {
    width: 40px;
    height: 40px;
  }
  
  body .tvmania-container .bottom-tvmania-wrapper article header h2 {
    font-size: 1.8rem;
    line-height: 1.11;
    letter-spacing: -.18px;
  }
  
  body .tvmania-container .bottom-tvmania-wrapper article header h2 a {
    color: #FFF;
  }
  
  body .tvmania-container .bottom-tvmania-wrapper article header h2 span {
    color: #95D8C8;
  }
  
  body .tvmania-container .bottom-tvmania-wrapper article:not(:last-child) {
    margin-right: 5px;
  }


  @media only screen and (min-width: 768px) {

    body main .tvmania-container {
        width: 100%;
        margin-bottom: 0;
        margin-top: 20px;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      }
      body main .tvmania-container > .top-tvmania-wrapper {
        margin-right: 5px;
        -ms-flex-preferred-size: calc(66.66% - 5px);
            flex-basis: calc(66.66% - 5px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
      }
      body main .tvmania-container > .top-tvmania-wrapper h3 {
        width: 170px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      }
      body main .tvmania-container > .top-tvmania-wrapper article {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
      }
      body main .tvmania-container > .top-tvmania-wrapper article header {
        padding-left: 0;
      }
      body main .tvmania-container > .top-tvmania-wrapper article header h2 {
        font-size: 2.8rem;
      }
      body main .tvmania-container > .mid-tvmania-wrapper {
        -ms-flex-preferred-size: 33.34%;
            flex-basis: 33.34%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
      body main .tvmania-container > .mid-tvmania-wrapper > article:not(.advertisement) {
        -ms-flex-preferred-size: calc(100% - 132px);
            flex-basis: calc(100% - 132px);
        display: none !important;
      }
      body main .tvmania-container > .mid-tvmania-wrapper > article:not(.advertisement) header h2 {
        font-size: 1.8rem;
      }
      body main .tvmania-container > .mid-tvmania-wrapper .advertisement img {
        width: auto;
      }
      body main .tvmania-container img {
        width: 100%;
      }
      body main .tvmania-container .bottom-tvmania-wrapper {
        width: 100%;
        margin-top: 5px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        overflow-x: unset;
      }
      body main .tvmania-container .bottom-tvmania-wrapper article {
        -ms-flex-preferred-size: calc(50% - 5px);
            flex-basis: calc(50% - 5px);
      }
      body main .tvmania-container .bottom-tvmania-wrapper article header {
        padding-bottom: 20px;
      }
      body main .tvmania-container .bottom-tvmania-wrapper article.mobile-only {
        display: block !important;
      }

  }

  @media only screen and (min-width: 1024px) {

    body main .tvmania-container {
        padding: 0 15px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
      }
      body main .tvmania-container > .mid-tvmania-wrapper > article:not(.advertisement) {
        display: block !important;
      }
      body main .tvmania-container img {
        width: 100%;
      }
      body main .tvmania-container .bottom-tvmania-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
      }
      body main .tvmania-container .bottom-tvmania-wrapper article {
        -ms-flex-preferred-size: calc(33.33% - 5px);
            flex-basis: calc(33.33% - 5px);
      }
      body main .tvmania-container .bottom-tvmania-wrapper article:last-child {
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
      }
      body main .tvmania-container .bottom-tvmania-wrapper article.mobile-only {
        display: none !important;
      }
}

.hamburger-menu .hamburger-wrapper .footer{
    margin-top: 15vh !important;
}

/*
 * glide carousel stuff
 */
.glide {
    position: relative;
   width: 100%;
    box-sizing: border-box; }
    .glide * {
      box-sizing: inherit; }
    .glide__track {
      overflow: hidden; }
    .glide__slides {
      position: relative;
      width: 100%;
      list-style: none;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      touch-action: pan-Y;
      overflow: hidden;
      padding: 0;
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      will-change: transform; }
      .glide__slides--dragging {
        user-select: none; }
    .glide__slide {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      white-space: normal;
      user-select: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent; }
      .glide__slide a {
        user-select: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        -ms-user-select: none; }
    .glide__arrows {
      -webkit-touch-callout: none;
      user-select: none; }
    .glide__bullets {
      -webkit-touch-callout: none;
      user-select: none; }
    .glide--rtl {
      direction: rtl; }

/*
 * https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css
*/
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

.fascione {
	width:100%;
	height: 900px;
}
.video-new-h.p-custom{
    padding: 0px 0 0px 0px;
    height: 46px;
}